{%extends "layout.html"%}
{% block content %}
<div class="container mt-5 jumbotron">
    <h1>About Us</h1>
    <p>
        Oasis is an online marketplace tailored for both small businesses and individual sellers. Users will enjoy
        browsing products without the need for logging in. However, when they attempt to add an item to their cart, the
        system prompts them to log in or create an account if they don't have one. Additionally, users will have the
        opportunity to provide reviews for both products and sellers, enhancing the overall user experience. Users can
        also act as sellers and put products up for sale.
    </p>
</div>

{%endblock%}