{% extends "layout.html" %}

{% block main_content %}


<div id="shopify-section-template--14357041578082__e4e83c48-4e49-4d76-a45b-e25f3061707b"
    class="shopify-section bootstrap-carousel">
    <div class="MultiCarousel_container slider_2_0">
        <div class="row">
            <div class="MultiCarousel template--14357041578082__e4e83c48-4e49-4d76-a45b-e25f3061707b main_slider_row MultiCarousel_load"
                id="MultiCarousel_template--14357041578082__e4e83c48-4e49-4d76-a45b-e25f3061707b1"
                data-sliderid="template--14357041578082__e4e83c48-4e49-4d76-a45b-e25f3061707b" data-interval="1000"
                data-autoplay-timeout="5000" data-items="1" data-loop="true" data-responsiveclass="true"
                data-autoplay="true" data-centerslidescale="false" data-slide="1" data-showactivedots="true"
                data-nav="false" data-dots="true" data-responsive_small_items="1" data-responsive_small_dots="true"
                data-responsive_desk_items="1" data-responsive_mid_items="1" data-enable_progressbar="false"
                data-last_item_padding="0">
                <div class="MultiCarousel-inner template--14357041578082__e4e83c48-4e49-4d76-a45b-e25f3061707b draggable MultiCarousel_loaded"
                    draggable="true" autoplay_delay="false" style="transform: translateX(-5420px); width: 6775px;">

                    <div class="item slide_1" data-index="0" style="width: 1355px;">
                        <span class="image_alt visually-hidden"></span>

                        <a href="https://www.boat-lifestyle.com/products/stone-spinx-pro-bluetooth-speaker?utm_source=website&amp;utm_medium=homepagebanner&amp;utm_campaign=homepage"
                            class="slide-url">

                            <picture>
                                <source media="(min-width: 769px)" height="1204" width="2880" alt=""
                                    srcset="//www.boat-lifestyle.com/cdn/shop/files/Stone_SPINX_PRO_HP_Banner_WEB_1_700x.jpg?v=1710147607 700w, //www.boat-lifestyle.com/cdn/shop/files/Stone_SPINX_PRO_HP_Banner_WEB_1_800x.jpg?v=1710147607 800w, //www.boat-lifestyle.com/cdn/shop/files/Stone_SPINX_PRO_HP_Banner_WEB_1_900x.jpg?v=1710147607 900w, //www.boat-lifestyle.com/cdn/shop/files/Stone_SPINX_PRO_HP_Banner_WEB_1_1000x.jpg?v=1710147607 1000w, //www.boat-lifestyle.com/cdn/shop/files/Stone_SPINX_PRO_HP_Banner_WEB_1_1200x.jpg?v=1710147607 1200w, //www.boat-lifestyle.com/cdn/shop/files/Stone_SPINX_PRO_HP_Banner_WEB_1_1400x.jpg?v=1710147607 1400w, //www.boat-lifestyle.com/cdn/shop/files/Stone_SPINX_PRO_HP_Banner_WEB_1_1600x.jpg?v=1710147607 1600w">
                                <img width="100%" class="image-overlay__image_" height="2291" alt=""
                                    src="//www.boat-lifestyle.com/cdn/shop/files/Stone_SPINX_PRO_HP_Banner_MOB_1_600x.jpg?v=1710147607"
                                    srcset="//www.boat-lifestyle.com/cdn/shop/files/Stone_SPINX_PRO_HP_Banner_MOB_1_200x.jpg?v=1710147607 200w, //www.boat-lifestyle.com/cdn/shop/files/Stone_SPINX_PRO_HP_Banner_MOB_1_300x.jpg?v=1710147607 300w, //www.boat-lifestyle.com/cdn/shop/files/Stone_SPINX_PRO_HP_Banner_MOB_1_400x.jpg?v=1710147607 400w, //www.boat-lifestyle.com/cdn/shop/files/Stone_SPINX_PRO_HP_Banner_MOB_1_500x.jpg?v=1710147607 500w, //www.boat-lifestyle.com/cdn/shop/files/Stone_SPINX_PRO_HP_Banner_MOB_1_600x.jpg?v=1710147607 600w"
                                    loading="eager" fetchpriority="high">
                            </picture>

                        </a>

                    </div>

                    <div class="item slide_2" data-index="1" style="width: 1355px;">
                        <span class="image_alt visually-hidden"></span>
                        <a href="https://www.boat-lifestyle.com/products/nirvana-ion-bluetooth-wireless-earbuds"
                            class="slide-url">

                            <picture>
                                <source media="(min-width: 769px)" height="602" width="1440" alt=""
                                    srcset="//www.boat-lifestyle.com/cdn/shop/files/RS_Banner_WEB_2_700x.png?v=1707810457 700w, //www.boat-lifestyle.com/cdn/shop/files/RS_Banner_WEB_2_800x.png?v=1707810457 800w, //www.boat-lifestyle.com/cdn/shop/files/RS_Banner_WEB_2_900x.png?v=1707810457 900w, //www.boat-lifestyle.com/cdn/shop/files/RS_Banner_WEB_2_1000x.png?v=1707810457 1000w, //www.boat-lifestyle.com/cdn/shop/files/RS_Banner_WEB_2_1200x.png?v=1707810457 1200w, //www.boat-lifestyle.com/cdn/shop/files/RS_Banner_WEB_2_1400x.png?v=1707810457 1400w, //www.boat-lifestyle.com/cdn/shop/files/RS_Banner_WEB_2_1440x.png?v=1707810457 1440w">
                                <img width="100%" class="image-overlay__image_" height="2291" alt=""
                                    src="app/templates/home.html"
                                    srcset="//www.boat-lifestyle.com/cdn/shop/files/RS_Banner_MOB_2_200x.jpg?v=1707478416 200w, //www.boat-lifestyle.com/cdn/shop/files/RS_Banner_MOB_2_300x.jpg?v=1707478416 300w, //www.boat-lifestyle.com/cdn/shop/files/RS_Banner_MOB_2_400x.jpg?v=1707478416 400w, //www.boat-lifestyle.com/cdn/shop/files/RS_Banner_MOB_2_500x.jpg?v=1707478416 500w, //www.boat-lifestyle.com/cdn/shop/files/RS_Banner_MOB_2_600x.jpg?v=1707478416 600w">
                            </picture>

                        </a>

                    </div>



                    <div class="item slide_3" data-index="2" style="width: 1355px;">
                        <span class="image_alt visually-hidden"></span>


                        <a href="https://www.boat-lifestyle.com/products/lunar-embrace-bluetooth-calling-smartwatch?utm_source=website&amp;utm_medium=homepagebanner&amp;utm_campaign=homepage"
                            class="slide-url">

                            <picture>
                                <source media="(min-width: 769px)" height="1204" width="2880" alt=""
                                    srcset="//www.boat-lifestyle.com/cdn/shop/files/Lunar_Embrace_Banner_WEB_700x.jpg?v=1709549781 700w, //www.boat-lifestyle.com/cdn/shop/files/Lunar_Embrace_Banner_WEB_800x.jpg?v=1709549781 800w, //www.boat-lifestyle.com/cdn/shop/files/Lunar_Embrace_Banner_WEB_900x.jpg?v=1709549781 900w, //www.boat-lifestyle.com/cdn/shop/files/Lunar_Embrace_Banner_WEB_1000x.jpg?v=1709549781 1000w, //www.boat-lifestyle.com/cdn/shop/files/Lunar_Embrace_Banner_WEB_1200x.jpg?v=1709549781 1200w, //www.boat-lifestyle.com/cdn/shop/files/Lunar_Embrace_Banner_WEB_1400x.jpg?v=1709549781 1400w, //www.boat-lifestyle.com/cdn/shop/files/Lunar_Embrace_Banner_WEB_1600x.jpg?v=1709549781 1600w">
                                <img width="100%" class="image-overlay__image_" height="2291" alt=""
                                    src="//www.boat-lifestyle.com/cdn/shop/files/Lunar_Embrace_Banner_MOB_600x.jpg?v=1709549781"
                                    srcset="//www.boat-lifestyle.com/cdn/shop/files/Lunar_Embrace_Banner_MOB_200x.jpg?v=1709549781 200w, //www.boat-lifestyle.com/cdn/shop/files/Lunar_Embrace_Banner_MOB_300x.jpg?v=1709549781 300w, //www.boat-lifestyle.com/cdn/shop/files/Lunar_Embrace_Banner_MOB_400x.jpg?v=1709549781 400w, //www.boat-lifestyle.com/cdn/shop/files/Lunar_Embrace_Banner_MOB_500x.jpg?v=1709549781 500w, //www.boat-lifestyle.com/cdn/shop/files/Lunar_Embrace_Banner_MOB_600x.jpg?v=1709549781 600w">
                            </picture>

                        </a>

                    </div>



                    <div class="item slide_4" data-index="3" style="width: 1355px;">
                        <span class="image_alt visually-hidden"></span>


                        <a href="/products/nirvana-ion-anc-earbuds" class="slide-url">

                            <picture>
                                <source media="(min-width: 769px)" height="1204" width="2880" alt=""
                                    srcset="//www.boat-lifestyle.com/cdn/shop/files/Nirvana_ION-New-colors_WEB_700x.gif?v=1709037514 700w, //www.boat-lifestyle.com/cdn/shop/files/Nirvana_ION-New-colors_WEB_800x.gif?v=1709037514 800w, //www.boat-lifestyle.com/cdn/shop/files/Nirvana_ION-New-colors_WEB_900x.gif?v=1709037514 900w, //www.boat-lifestyle.com/cdn/shop/files/Nirvana_ION-New-colors_WEB_1000x.gif?v=1709037514 1000w, //www.boat-lifestyle.com/cdn/shop/files/Nirvana_ION-New-colors_WEB_1200x.gif?v=1709037514 1200w, //www.boat-lifestyle.com/cdn/shop/files/Nirvana_ION-New-colors_WEB_1400x.gif?v=1709037514 1400w, //www.boat-lifestyle.com/cdn/shop/files/Nirvana_ION-New-colors_WEB_1600x.gif?v=1709037514 1600w">
                                <img width="100%" class="image-overlay__image_" height="2291" alt=""
                                    src="//www.boat-lifestyle.com/cdn/shop/files/Nirvana_ION-New-colors_600x.gif?v=1709037538"
                                    srcset="//www.boat-lifestyle.com/cdn/shop/files/Nirvana_ION-New-colors_200x.gif?v=1709037538 200w, //www.boat-lifestyle.com/cdn/shop/files/Nirvana_ION-New-colors_300x.gif?v=1709037538 300w, //www.boat-lifestyle.com/cdn/shop/files/Nirvana_ION-New-colors_400x.gif?v=1709037538 400w, //www.boat-lifestyle.com/cdn/shop/files/Nirvana_ION-New-colors_500x.gif?v=1709037538 500w, //www.boat-lifestyle.com/cdn/shop/files/Nirvana_ION-New-colors_600x.gif?v=1709037538 600w">
                            </picture>

                        </a>

                    </div>



                    <div class="item slide_5 active" data-index="4" style="width: 1355px;">
                        <span class="image_alt visually-hidden"></span>


                        <a href="https://www.boat-lifestyle.com/pages/ranveer-singh-x-boat-nirvana?utm_source=website&amp;utm_medium=homepagebanner&amp;utm_campaign=homepage"
                            class="slide-url">

                            <picture>
                                <source media="(min-width: 769px)" height="602" width="1440" alt=""
                                    srcset="//www.boat-lifestyle.com/cdn/shop/files/RS_Banner_WEB_1_700x.jpg?v=1706770352 700w, //www.boat-lifestyle.com/cdn/shop/files/RS_Banner_WEB_1_800x.jpg?v=1706770352 800w, //www.boat-lifestyle.com/cdn/shop/files/RS_Banner_WEB_1_900x.jpg?v=1706770352 900w, //www.boat-lifestyle.com/cdn/shop/files/RS_Banner_WEB_1_1000x.jpg?v=1706770352 1000w, //www.boat-lifestyle.com/cdn/shop/files/RS_Banner_WEB_1_1200x.jpg?v=1706770352 1200w, //www.boat-lifestyle.com/cdn/shop/files/RS_Banner_WEB_1_1400x.jpg?v=1706770352 1400w, //www.boat-lifestyle.com/cdn/shop/files/RS_Banner_WEB_1_1440x.jpg?v=1706770352 1440w">
                                <img width="100%" class="image-overlay__image_" height="2291" alt=""
                                    src="//www.boat-lifestyle.com/cdn/shop/files/RS_Banner_MOB_1_600x.jpg?v=1706770352"
                                    srcset="//www.boat-lifestyle.com/cdn/shop/files/RS_Banner_MOB_1_200x.jpg?v=1706770352 200w, //www.boat-lifestyle.com/cdn/shop/files/RS_Banner_MOB_1_300x.jpg?v=1706770352 300w, //www.boat-lifestyle.com/cdn/shop/files/RS_Banner_MOB_1_400x.jpg?v=1706770352 400w, //www.boat-lifestyle.com/cdn/shop/files/RS_Banner_MOB_1_500x.jpg?v=1706770352 500w, //www.boat-lifestyle.com/cdn/shop/files/RS_Banner_MOB_1_600x.jpg?v=1706770352 600w">
                            </picture>

                        </a>

                    </div>


                </div>
                <button class="btn btn-primary leftLst template--14357041578082__e4e83c48-4e49-4d76-a45b-e25f3061707b">
                    <img src="" alt="arrow" style="rotate:180deg;">
                </button>
                <button class="btn btn-primary rightLst template--14357041578082__e4e83c48-4e49-4d76-a45b-e25f3061707b">
                    <img src="" alt="arrow">
                </button>
                <ul class="MultiCarousel_dots_container">


                    <li class="multiCarousel_dots" data-index="0">


                    </li>



                    <li class="multiCarousel_dots" data-index="1">


                    </li>



                    <li class="multiCarousel_dots" data-index="2">


                    </li>



                    <li class="multiCarousel_dots" data-index="3">


                    </li>



                    <li class="multiCarousel_dots active" data-index="4">


                    </li>


                </ul>
            </div>
        </div>
    </div>

    <style>
        .MultiCarousel.template--14357041578082__e4e83c48-4e49-4d76-a45b-e25f3061707b .MultiCarousel-inner .item {
            padding-left: 0;
        }

        .MultiCarousel.template--14357041578082__e4e83c48-4e49-4d76-a45b-e25f3061707b {
            padding-right: 0;
        }

        .MultiCarousel.template--14357041578082__e4e83c48-4e49-4d76-a45b-e25f3061707b .MultiCarousel-inner .item {
            display: none;
        }

        .MultiCarousel.template--14357041578082__e4e83c48-4e49-4d76-a45b-e25f3061707b .MultiCarousel-inner.MultiCarousel_loaded .item,
        .MultiCarousel.template--14357041578082__e4e83c48-4e49-4d76-a45b-e25f3061707b .MultiCarousel-inner .item:nth-child(-n + 1) {
            display: block;
        }

        @media(min-width:768px) {
            .MultiCarousel.template--14357041578082__e4e83c48-4e49-4d76-a45b-e25f3061707b .MultiCarousel-inner .item {
                padding-left: 0;
            }

            .MultiCarousel.template--14357041578082__e4e83c48-4e49-4d76-a45b-e25f3061707b {
                padding-right: 0;
            }

            .MultiCarousel.template--14357041578082__e4e83c48-4e49-4d76-a45b-e25f3061707b .MultiCarousel-inner.MultiCarousel_loaded .item:nth-child(-n + 1) {
                display: block;
            }
        }

        @media(min-width:992px) {
            .MultiCarousel.template--14357041578082__e4e83c48-4e49-4d76-a45b-e25f3061707b .MultiCarousel-inner .item {
                padding-left: 0;
            }

            .MultiCarousel.template--14357041578082__e4e83c48-4e49-4d76-a45b-e25f3061707b .MultiCarousel-inner.MultiCarousel_loaded .item:nth-child(-n + 1) {
                display: block;
            }
        }
    </style>






    <div class="product-item">
        <quick-buy-popover
            id="product-template--14357041578082__e4e83c48-4e49-4d76-a45b-e25f3061707b-68576f6c-ba80-471b-b629-7f6fabb0e291--popover"
            href="?view=quick-buy-popover" class="popover popover--quick-buy hidden-tablet-and-up"></quick-buy-popover>
        <quick-buy-drawer
            id="product-template--14357041578082__e4e83c48-4e49-4d76-a45b-e25f3061707b-68576f6c-ba80-471b-b629-7f6fabb0e291--drawer"
            href="?view=quick-buy-drawer"
            class="drawer drawer--large drawer--quick-buy hidden-phone"></quick-buy-drawer>
    </div>

    <div class="product-item">
        <quick-buy-popover
            id="product-template--14357041578082__e4e83c48-4e49-4d76-a45b-e25f3061707b-2730001b-48cd-4c0b-8166-3174dee33e61--popover"
            href="?view=quick-buy-popover" class="popover popover--quick-buy hidden-tablet-and-up"></quick-buy-popover>
        <quick-buy-drawer
            id="product-template--14357041578082__e4e83c48-4e49-4d76-a45b-e25f3061707b-2730001b-48cd-4c0b-8166-3174dee33e61--drawer"
            href="?view=quick-buy-drawer"
            class="drawer drawer--large drawer--quick-buy hidden-phone"></quick-buy-drawer>
    </div>

    <div class="product-item">
        <quick-buy-popover
            id="product-template--14357041578082__e4e83c48-4e49-4d76-a45b-e25f3061707b-f93ae7db-c680-4516-bc57-aab9afb1add4--popover"
            href="?view=quick-buy-popover" class="popover popover--quick-buy hidden-tablet-and-up"></quick-buy-popover>
        <quick-buy-drawer
            id="product-template--14357041578082__e4e83c48-4e49-4d76-a45b-e25f3061707b-f93ae7db-c680-4516-bc57-aab9afb1add4--drawer"
            href="?view=quick-buy-drawer"
            class="drawer drawer--large drawer--quick-buy hidden-phone"></quick-buy-drawer>
    </div>

    <div class="product-item">
        <quick-buy-popover
            id="product-template--14357041578082__e4e83c48-4e49-4d76-a45b-e25f3061707b-f631a3a6-ef1e-4f64-8aa4-57479d0a4d84--popover"
            href="?view=quick-buy-popover" class="popover popover--quick-buy hidden-tablet-and-up"></quick-buy-popover>
        <quick-buy-drawer
            id="product-template--14357041578082__e4e83c48-4e49-4d76-a45b-e25f3061707b-f631a3a6-ef1e-4f64-8aa4-57479d0a4d84--drawer"
            href="?view=quick-buy-drawer"
            class="drawer drawer--large drawer--quick-buy hidden-phone"></quick-buy-drawer>
    </div>

    <div class="product-item">
        <quick-buy-popover
            id="product-template--14357041578082__e4e83c48-4e49-4d76-a45b-e25f3061707b-0dfa6684-6bfa-45f4-9443-f5cdac550d34--popover"
            href="?view=quick-buy-popover" class="popover popover--quick-buy hidden-tablet-and-up"></quick-buy-popover>
        <quick-buy-drawer
            id="product-template--14357041578082__e4e83c48-4e49-4d76-a45b-e25f3061707b-0dfa6684-6bfa-45f4-9443-f5cdac550d34--drawer"
            href="?view=quick-buy-drawer"
            class="drawer drawer--large drawer--quick-buy hidden-phone"></quick-buy-drawer>
    </div>


    <script>
        function validateMobileNumber(input) {
            // Remove any non-numeric characters
            let sanitizedInput = input.value.replace(/\D/g, '');

            // Ensure the input is limited to 10 digits
            if (sanitizedInput.length > 10) {
                sanitizedInput = sanitizedInput.slice(0, 10);
            }

            // Update the input value
            input.value = sanitizedInput;
        }

    </script>
    <style>
        @media screen and (max-width: 767px) {
            #shopify-section-template--14357041578082__e4e83c48-4e49-4d76-a45b-e25f3061707b .MultiCarousel .MultiCarousel-inner {
                margin-left: 0;
            }
        }
    </style>
</div>
{% endblock %}