{% extends "layout.html"%}


{%block main_content%}





<!-- <main> -->
<article>
  <div class="slideshow-container">
    <div class="mySlides">
      <img src="../static/img/img-slider/960.jpg" style="width:100%; height:750px;">
      <!-- <div class="text">Dell Laptop</div> -->
    </div>
    <div class="mySlides">
      <img src="../static/img/img-slider/ipad.png" style="width:100%; height:750px;">
      <!-- <div class="text">Apple Ipad</div> -->
    </div>
    <div class="mySlides">
      <img src="../static/img/img-slider/Top-games-and-Immortal-headphones.jpg" style="width:100%; height:750px;">
      <!-- <div class="text">Headphones</div> -->
    </div>
    <div class="mySlides">
      <img src="../static/img/img-slider/watch.png" style="width:100%; height:750px;">
      <!-- <div class="text">Apple Watch</div> -->
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>


  </div>
  <br>
  <div class="dot-container" style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
  </div>
</article>
<!-- </main> -->
<!-- ------------------ -->
<!-- Shop by Categories -->
<!-- ------------------ -->

<!-- <div id="shopify-section-template" class="shopify-section shopifycustom-html">


  <style>
    #shopify-section-template {
      --heading-color: 26, 32, 36;
      --text-color: 26, 32, 36;
      --section-background: 255, 255, 255;
    }
  </style>

  <section class=" ">
    <div>
      <div class="section__color-wrapper ">
        <div class="explore">
          <h3 class="ui2-heading"> Shop by <span><b> Categories</b></span>
          </h3>
        </div>

      </div>
    </div>
  </section>

</div> -->



<!-- <section id="features" class="selector-feature">
  <div class="row">
    <div class="col-md-2">
      <div class="card">
        <img src="../static/img/features/f1.jpeg" class="card-img-top" alt="..." height="100" width="50">
        <div class="card-body">
          <h6 class="card-title">Free Shipping</h6>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <img src="../static/img/features/f2.avif" class="card-img-top" alt="..." height="100" width="50">
        <div class="card-body">
          <h6 class="card-title">Online Order</h6>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <img src="../static/img/features/f3.webp" class="card-img-top" alt="..." height="100" width="50">
        <div class="card-body">
          <h6 class="card-title">Save Money</h6>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <img src="../static/img/features/f4.webp" class="card-img-top" alt="..." height="100" width="50">
        <div class="card-body">
          <h6 class="card-title">Promotions</h6>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <img src="../static/img/features/f5.jpeg" class="card-img-top" alt="..." height="100" width="50">
        <div class="card-body">
          <h6 class="card-title">Happy Sell</h6>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <img src="../static/img/features/f6.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title">24/7 Support</h6>
        </div>
      </div>
    </div>

  </div>
</section> -->

<!-- ------------------ -->
<!-- Explore BestSeller -->
<!-- ------------------ -->
<div id="shopify-section-template" class="shopify-section shopifycustom-html">
  <style>
    #shopify-section-template {
      --heading-color: 26, 32, 36;
      --text-color: 26, 32, 36;
      --section-background: 255, 255, 255;
    }
  </style>

  <section class=" ">
    <div class="">
      <div class="section__color-wrapper ">
        <div class="explore">
          <h3 class="ui2-heading"> Explore <span><b> Bestsellers</b></span>
          </h3>
        </div>
        <div class="vid">

          <div class="vid__container">


            <div class="card" muted tab id="smartwatches">
              <a href="{{ url_for('productsDetails', id=1) }}">
              <article class= "card__article">

              <video class="product-video" muted loop>
                <source src="../static/img/BestSellerVid/iphone.mov" type="video/mp4">
                Your browser does not support the video tag.
              </video>
              <div class="card__data">
                <span class="card__description">Apple</span>
                <h2 class="card__title">iPhone 14</h2>
                <h2 href="#" class="card__button">$800</h2>
              </div>
              </article>
            </a>
            </div>

            <div class="card" id="smartwatches">
              <a href="{{ url_for('productsDetails', id=1) }}">
              <article class="card__article">

                <video class="product-video" muted loop>

                  <source src="../static/img/BestSellerVid/smartwatch.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
                <div class="card__data">
                  <span class="card__description">Smartwatch</span>
                  <h2 class="card__title">Amazfit</h2>
                  <h2 href="#" class="card__button">$58</h2>
                </div>
              </article>
            </a>
            </div>

            <div class="card" id="smartwatches">
              <a href="{{ url_for('productsDetails', id=1) }}">
              <article class="card__article">

                <video class="product-video" muted loop>
                  <source src="../static/img/BestSellerVid/macbook.mov" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
                <div class="card__data">
                  <span class="card__description">Apple</span>
                  <h2 class="card__title">MacBook Pro</h2>
                  <h2 href="#" class="card__button">$1600</h2>
                </div>
              </article>
            </a>
            </div>

            <!-- <div class="card" id="smartwatches">
              <a href="{{ url_for('productsDetails', id=1) }}">
              <article class="card__article">

                <video class="product-video" muted loop>
                  <source src="../static/img/BestSellerVid/Earpods.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
                <div class="card__data">
                  <span class="card__description">Samsung</span>
                  <h2 class="card__title">Galaxy Buds 2</h2>
                  <h2 href="#" class="card__button">$78</h2>
                </div>
              </article>
            </a>
            </div> -->

            <div class="card" id="smartwatches">
              <a href="{{ url_for('productsDetails', id=1) }}">
              <article class="card__article">

                <video class="product-video" muted loop>
                  <source src="../static/img/BestSellerVid/vision.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
                <div class="card__data">
                  <span class="card__description">Apple</span>
                  <h2 class="card__title">Vision Pro</h2>
                  <h2 href="#" class="card__button">$3500</h2>
                </div>
              </article>
            </a>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>

</div>


<!-- ------------------ -->
<!-- Shop for clothes -->
<!-- ------------------ -->

<div id="shopify-section-template" class="shopify-section shopifycustom-html">
  <style>
    #shopify-section-template {
      --heading-color: 26, 32, 36;
      --text-color: 26, 32, 36;
      --section-background: 255, 255, 255;
    }

    .shopifycustom-html {
      padding-top: 30px;
    }
  </style>

  <section class=" ">
    <div>
      <div class="section__color-wrapper ">
        <div class="explore">
          <h3 class="ui2-heading"> <span><b> Trending in Performance </b></span>
          </h3>
        </div>

      </div>
    </div>
  </section>

</div>

<div id="slots-1" class="hidden">
  <div class="relative">
    <section class="image-container">
      <div class="image-text-wrapper ">
        <picture data-test-id="sanity-image" class="flex-picture"
          style="background-image: url(&quot;data:image/jpeg;base64,/9j/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUoKSj/2wBDAQcHBwoIChMKChMoGhYaKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCj/wAARCAAHABQDASIAAhEBAxEB/8QAFgABAQEAAAAAAAAAAAAAAAAAAAYF/8QAIhAAAQQBAgcAAAAAAAAAAAAAAQACAwQFBhESFCEiMTJB/8QAFwEAAwEAAAAAAAAAAAAAAAAAAQIDBP/EABoRAAMAAwEAAAAAAAAAAAAAAAABAgMUIRL/2gAMAwEAAhEDEQA/AJO5qXU2QoxV+Zgq7e8kQ2cQph93O3o3Oq5eZoY4scOIjqPqIsGxkqHTfRUkp4Z81XOvkLnZOQk+e8oiKWzYPTP/2Q==&quot;); background-size: cover;">
          <source
            srcset="https://cdn.sanity.io/images/qa41whrn/prod/ae8914fc2080c1e811628d6fe7586cb355c08583-1440x500.jpg?w=2160&amp;q=80&amp;auto=format"
            media="(min-width: 1024px)">
          <source
            srcset="https://cdn.sanity.io/images/qa41whrn/prod/ae8914fc2080c1e811628d6fe7586cb355c08583-1440x500.jpg?w=1440&amp;q=80&amp;auto=format"
            media="(min-width: 540px) and (max-width: 1023px)">
          <source
            srcset="https://cdn.sanity.io/images/qa41whrn/prod/cdde95a7835bb13c403ff7a9430cf80f2b18450e-1536x1536.jpg?w=720&amp;q=80&amp;auto=format"
            media="(max-width: 539px)"><img
            srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            class="object-cover w-full h-full" alt="NEW IN SOCCER | PUMA " loading="eager" decoding="auto">
        </picture><a aria-disabled="false" class="tw-hqslau tw-xbcb1y absolute inset-0 h-full w-full" aria-hidden="true"
          tabindex="-1" href="/us/en/sport/soccer/new-in-soccer"></a>
      </div>
      <div class="text-overlay">
        <h1 class="" color="white">GEAR UP <br> FOR SPRING SPORTS</h1>
        <h2 class="">EXPLORE NEW IN SOCCER</h2>
        <div class="overlay-btn"><a class="btn btn-light half-width-btn"
            href="{{ url_for('products', category_name='Clothing') }}" width="50%">SHOP NOW</a></div>
      </div>
    </section>
  </div>
</div>








<!-- ------------------ -->
<!-- Daily Deals -->
<!-- ------------------ -->
<div id="shopify-section-template" class="shopify-section shopifycustom-html">
  <style>
    #shopify-section-template {
      --heading-color: 26, 32, 36;
      --text-color: 26, 32, 36;
      --section-background: 255, 255, 255;
    }
  </style>

  <section class=" ">
    <div>
      <div class="section__color-wrapper ">
        <div class="explore">
          <h3 class="ui2-heading"> Daily <span><b> Deals</b></span>
          </h3>
        </div>
      </div>
    </div>
  </section>
</div>

<section id="product-description">

  <div class="multicard">
    {% if products_group_1 %}
    {% for product in products_group_1 %}
    <div class="product-card" onclick="redirectToProductDetails('{{ product.id }}')">

      <img src="{{ product.image_url }}" alt="{{ product.name }}" style="height: 400px">
      <div class="product-info">
        <span class="product-brand">{{ product.category.name }}</span>
        <div class="product-name">
          <h5>{{ product.name }}</h5>
        </div>
        <div class="price">${{ product.price }}</div>
      </div>
      <!-- <button class="heart-button">❤</button> -->
      <div class="item-card" data-product-id="{{ product.id }}"
        data-user-id="{{ current_user.id if current_user.is_authenticated else 'none' }}">
        <button class="heart-button">🤍</button> <!-- Ensure this line is present -->
      </div>
      <button class="add-button"><i class="fa fa-shopping-cart"></i></button>
    </div>
    {% endfor %}
    {% else %}
    <p>No special products found.</p>
    {% endif %}
  </div>

</section>

<!-- </div> -->






<!-- ------------------ -->
<!-- New Launches -->
<!-- ------------------ -->
<div id="shopify-section-template" class="shopify-section shopifycustom-html">
  <style>
    #shopify-section-template {
      --heading-color: 26, 32, 36;
      --text-color: 26, 32, 36;
      --section-background: 255, 255, 255;
    }
  </style>

  <section class=" ">
    <div>
      <div class="section__color-wrapper ">
        <div class="explore">
          <h3 class="ui2-heading"> New <span><b> Launches</b></span>
          </h3>
        </div>

      </div>
    </div>
  </section>

</div>

<section id="product-description">

  <div class="multicard">
    {% if products_group_2 %}
    {% for product in products_group_2 %}
    <div class="product-card" onclick="redirectToProductDetails('{{ product.id }}')">

      <img src="{{ product.image_url }}" alt="{{ product.name }}" style="height: 400px">
      <div class="product-info">
        <span class="product-brand">{{ product.category.name }}</span>
        <div class="product-name">
          <h5>{{ product.name }}</h5>
        </div>
        <div class="price">${{ product.price }}</div>
      </div>
      <!-- <button class="heart-button">❤</button> -->
      <div class="item-card" data-product-id="{{ product.id }}"
        data-user-id="{{ current_user.id if current_user.is_authenticated else 'none' }}">
        <button class="heart-button">🤍</button> <!-- Ensure this line is present -->
      </div>
      <button class="add-button"><i class="fa fa-shopping-cart"></i></button>
    </div>
    {% endfor %}
    {% else %}
    <p>No special products found.</p>
    {% endif %}
  </div>

</section>


<!-- #### Featured-img -->

<div class="banner" id="section-banner">
  <div class="banner-container">
    <div class="row">
      <div class="col-md-6">
        <!-- <h4>Crazy Deals</h4> -->
        <h2>iMazing Deals:</h2>
        <span>Your Ultimate Destination</span>
        <span>for iMac Excellence</span>
        <a href="{{ url_for('products', category_name='Electronics') }}">

          <button class="white">Secure Now</button>
        </a>
      </div>
      <div class="col-md-6 box-2">
        <h4>Eye Catching</h4>
        <h2>Upcoming Season</h2>
        <span>The best is on sale</span>
        <a href="{{ url_for('products', category_name='Clothing') }}">
          <button class="white">Grab Now!</button>
        </a>
      </div>
    </div>
  </div>
</div>







{%endblock main_content%}


<!-- 

{% block contentOptions %}

{%endblock contentOptions%}


{% block SectionBanner %}

<div class="banner" id="section-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4>Crazy Deals</h4>
        <h2>Buy 1 Get 1 Free!</h2>
        <span>On all products</span>
        <span>The best is on Sale</span>
        <button class="white">Shop Now</button>

      </div>
      <div class="col-md-6 box-2">
        <h4>Eye Catching</h4>
        <h2>Upcoming Season</h2>
        <span>The best is on sale</span>
        <span>The best is on Sale</span>
        <button class="white">Grab Now!</button>

      </div>
    </div>
  </div>
</div>

{% endblock SectionBanner %} -->